
<%- include("header"); -%>



  <div class="container forum-post">
  <% if (foundPosts && foundPosts.length>0) { %>
    <% foundPosts.forEach(post => { %>
      <% const {username, title, body} = post %>
        <div class="forum username">
         <i><%=username.username%></i>
         </div>
         <div class="forum title">
           <%=title%>
         </div>
      <% }); %>
  <% }; %>
  <form class="composeForm forum" action="/forums" method="post">
    <label>Title</label>
    <input type="text" name="postTitle">
    <label>Text</label>
    <textarea name="postBody" rows="5" cols="30" placeholder="Compose your post."></textarea>
    <button type="submit" name="button">Create Post</button>
  </form>
  </div>











<%- include("footer"); -%>
