<%- include("header") -%>

  <section id="homepage">
    <div class="header">

      <!-- HEADINGS -->

      <div class="guild-name-container">
        <h1>Crown</h1>
      </div>
      <div class="guild-slogan-container">
        <h5>Classic WoW Guild</h5>
      </div>
      <div class="join-now-button">
        <h3> Welcome <%= user %> </h3>
      </div>
      <img class="background-img" src="images/wsg.jpg" alt="">
    </div>
  </section>


<%- include("socials") -%>

<%- include("footer") -%>
