

<section id="socials">
  <div class="social-media">
    <a class="social-media-icon" href="https://twitter.com/feloreaxo"><i class="footer-icon fab fa-twitter fa-2x"></i></a>
    <a class="social-media-icon" href="#"><i class="footer-icon fab fa-facebook-f fa-2x"></i></a>
    <a class="social-media-icon" href="https://github.com/MatthewDawkins/Crown"><i class="footer-icon fab fa-github fa-2x"></i></a>
    <a class="social-media-icon" href="#"><i class="footer-icon fas fa-envelope fa-2x"></i></a>
    <p class="credit">Site by Matt Dawkins</p>
  </div>

</section>
