<section id="socials">

  <div class="social-media">

    <!-- Discord link to Felorea -->
    <a class="social-media-icon" href="https://discordapp.com/users/86251670173917184"><i class="footer-icon fab fa-discord fa-2x"></i></a>

    <!-- Github link to Crown Guild -->
    <a class="social-media-icon" href="https://github.com/MatthewDawkins/CrownGuild"><i class="footer-icon fab fa-github fa-2x"></i></a>

    <!-- Email to Felorea@crown.wtf -->
    <a class="social-media-icon" href="mailto:felorea@crown.wtf"><i class="footer-icon fas fa-envelope fa-2x"></i></a>

    <!-- Link to Grindlessgaming.com -->
    <a class="social-media-icon" href="https://grindlessgaming.com"><i class="footer-icon fab fa-gg fa-2x"></i></a>

    <!-- Crown Credits -->
    <p class="credit">Crown © <%= year %></p>
    
  </div>

</section>
