

<section id="socials">
  <div class="social-media">
    <a class="social-media-icon" href="https://discordapp.com/users/86251670173917184"><i class="footer-icon fab fa-discord fa-2x"></i></a>
    <a class="social-media-icon" href="https://github.com/MatthewDawkins/CrownGuild"><i class="footer-icon fab fa-github fa-2x"></i></a>
    <a class="social-media-icon" href="mailto:felorea@crown.wtf"><i class="footer-icon fas fa-envelope fa-2x"></i></a>
    <p class="credit">Crown © <%= year %></p>
  </div>

</section>
